{% extends '../partials/layout1.html' %}


{% block content %}

            <!-- ...::: About Section Start :::... -->
            <section class="section-about">
                <!-- Section Space -->
                 <div class="section-space-top">
                </div>
                <!-- Section Space -->
            </section>
            <!-- ...::: About Section End :::... -->

            <!-- ...::: About Gallery Section Start :::... -->
            <section class="section-about-gallery">
                <!-- Section Space -->
                <div class="section">
                    <!-- Section Container -->
                    <div class="container">
                        <!-- Section Block -->
                        <div class="section-block mb-10 md:mb-[60px] xl:mb-20">
                            <h2 class="jos mx-auto max-w-[966px] text-center">
                                Why
                                <span>
                                    <img src="/static/img/elemnts/shape-light-lime-5-arms-star.svg" alt="shape-light-lime-5-arms-star" width="74" height="70" class="relative inline-block h-auto w-8 after:bg-black md:w-10 lg:w-[57px]" /> </span>choose us
                            </h2>
                            <div class="mx-auto mt-6 max-w-[813px] text-center">
                                <p class="jos section-para">
                                    Since 2019, our team has been at the forefront of software development, helping businesses navigate the ever-evolving digital landscape. With experience gained at leading companies such as GoDaddy and Microsoft, where we contributed to projects impacting hundreds of thousands globally, we bring expertise, innovation, and a commitment to excellence.
                                </p>
                            </div>
                        </div>
                        <!-- Section Block -->

                        <div class="mt-10 grid grid-cols-1 gap-x-5 gap-y-10 lg:grid-cols-2">
                            <div class="rich-text">
                                <h4 class="mb-4">Our core vision</h4>
                                <p>
                                    To empower businesses by crafting intuitive software solutions that streamline operations, enhance user experiences, and fuel digital transformation. 
                                 </p>
                                <!-- <p>
                                    Our team consists of experienced designers, developers. We
                                    have a wide variety of skills and backgrounds, allowing us
                                    to tackle projects of all sizes and complexities. We believe
                                    in the power of imagination and innovation.
                                </p> -->
                            </div>
                            <div class="rich-text">
                                <h4 class="mb-4">Our main mission</h4>
                                <p>
                                    To partner with businesses of all sizes, delivering custom software that solve business challenges and contribute to their success.
                                </p>

                                <!-- <p>
                                    We are committed to creating designs that inspire, connect &
                                    our clients in the marketplace. Our focus is on
                                    understanding. Our clients' unique needs and delivery
                                    designs that not only meet but exceed their expectations.
                                </p> -->
                            </div>
                        </div>
                    </div>
                    <!-- Section Container -->
                </div>
                <!-- Section Space -->
                 <br>
            </section>
            <!-- ...::: About Gallery Section End :::... -->

             <!-- ...::: Counter Section Start :::... -->
             <div class="section-counter">
                <!-- Section Space -->
                <div class="section-space-bottom pt-20">
                    <!-- Section Container -->
                    <div class="container">
                        <!-- Counter Block -->
                        <ul class="grid grid-cols-1 flex-wrap justify-between gap-y-10 md:grid-cols-2 lg:flex">
                            <!-- Counter Item -->
                            <li class="relative text-center after:absolute after:top-1/2 after:hidden after:h-10 after:w-0.5 after:-translate-y-1/2 after:bg-[#FBD718] after:last-of-type:hidden lg:text-left lg:after:left-[125%] xl:after:left-[150%]">
                                <div class="font-libreBaskerville text-4xl font-bold !leading-[1.14] -tracking-[0.5px] text-[#073D30] md:text-5xl lg:text-6xl xxl:text-[70px]" data-module="countup">
                                    <span class="start-number" data-countup-number="5">5</span>+
                                </div>
                                <span class="inline-block text-[#0C0C0C]">Years of experience</span>
                            </li>
                            <!-- Counter Item -->
                            <!-- Counter Item -->
                            <!-- <li class="relative text-center after:absolute after:top-1/2 after:hidden after:h-10 after:w-0.5 after:-translate-y-1/2 after:bg-[#FBD718] after:last-of-type:hidden lg:text-left lg:after:left-[125%] xl:after:left-[150%]">
                                <div class="font-libreBaskerville text-4xl font-bold !leading-[1.14] -tracking-[0.5px] text-[#073D30] md:text-5xl lg:text-6xl xxl:text-[70px]" data-module="countup">
                                    <span class="start-number" data-countup-number="84">84</span>k
                                </div>
                                <span class="inline-block text-[#0C0C0C]">Active monthly users</span>
                            </li> -->
                            <!-- Counter Item -->
                            <!-- Counter Item -->
                            <li class="relative text-center after:absolute after:top-1/2 after:hidden after:h-10 after:w-0.5 after:-translate-y-1/2 after:bg-[#FBD718] after:last-of-type:hidden lg:text-left lg:after:left-[125%] xl:after:left-[150%]">
                                <div class="font-libreBaskerville text-4xl font-bold !leading-[1.14] -tracking-[0.5px] text-[#073D30] md:text-5xl lg:text-6xl xxl:text-[70px]" data-module="countup">
                                    <span class="start-number" data-countup-number="15">10</span>+
                                </div>
                                <span class="inline-block text-[#0C0C0C]">Projects completed</span>
                            </li>
                            <!-- Counter Item -->
                            <!-- Counter Item -->
                            <li class="relative text-center after:absolute after:top-1/2 after:hidden after:h-10 after:w-0.5 after:-translate-y-1/2 after:bg-[#FBD718] after:last-of-type:hidden lg:text-left lg:after:left-[125%] xl:after:left-[150%]">
                                <div class="font-libreBaskerville text-4xl font-bold !leading-[1.14] -tracking-[0.5px] text-[#073D30] md:text-5xl lg:text-6xl xxl:text-[70px]" data-module="countup">
                                    <span class="start-number" data-countup-number="100">100</span>%
                                </div>
                                <span class="inline-block text-[#0C0C0C]">Client satisfaction</span>
                            </li>
                            <!-- Counter Item -->
                        </ul>
                        <!-- Counter Block -->
                    </div>
                    <!-- Section Container -->
                </div>
                <!-- Section Space -->
            </div>
            <!-- ...::: Counter Section End :::... -->

            <!-- ...::: Text Slider Section Start :::... -->
            <div class="section-text-slider">
                <div class="bg-black py-5">
                    <div class="horizontal-slide-from-right-to-left flex items-center gap-x-6">
                        <!-- Text Slider Item Text-->
                        <div class="whitespace-nowrap font-syne text-[35px] font-bold leading-none tracking-[1px] text-colorLightLime">
                            Let's create new experiences
                        </div>
                        <!-- Text Slider Item Text -->
                        <!-- Text Slider Separator Icon -->
                        <div class="h-10 min-w-[42px]">
                            <img src="/static/img/elemnts/shape-light-lime-5-arms-star.svg" alt="shape-light-lime-5-arms-star" width="74" height="70" class="h-10 w-auto" />
                        </div>
                        <!-- Text Slider Separator Icon -->
                        <!-- Text Slider Item Text-->
                        <div class="whitespace-nowrap font-syne text-[35px] font-bold leading-none tracking-[1px] text-colorLightLime">
                            Let's create new experiences
                        </div>
                        <!-- Text Slider Item Text -->
                        <!-- Text Slider Separator Icon -->
                        <div class="h-10 min-w-[42px]">
                            <img src="/static/img/elemnts/shape-light-lime-5-arms-star.svg" alt="shape-light-lime-5-arms-star" width="74" height="70" class="h-10 w-auto" />
                        </div>
                        <!-- Text Slider Separator Icon -->
                        <!-- Text Slider Item Text-->
                        <div class="whitespace-nowrap font-syne text-[35px] font-bold leading-none tracking-[1px] text-colorLightLime">
                            Let's create new experiences
                        </div>
                        <!-- Text Slider Item Text -->
                        <!-- Text Slider Separator Icon -->
                        <div class="h-10 min-w-[42px]">
                            <img src="/static/img/elemnts/shape-light-lime-5-arms-star.svg" alt="shape-light-lime-5-arms-star" width="74" height="70" class="h-10 w-auto" />
                        </div>
                        <!-- Text Slider Separator Icon -->
                        <!-- Text Slider Item Text-->
                        <div class="whitespace-nowrap font-syne text-[35px] font-bold leading-none tracking-[1px] text-colorLightLime">
                            Let's create new experiences
                        </div>
                        <!-- Text Slider Item Text -->
                        <!-- Text Slider Separator Icon -->
                        <div class="h-10 min-w-[42px]">
                            <img src="/static/img/elemnts/shape-light-lime-5-arms-star.svg" alt="shape-light-lime-5-arms-star" width="74" height="70" class="h-10 w-auto" />
                        </div>
                        <!-- Text Slider Separator Icon -->
                        <!-- Text Slider Item Text-->
                        <div class="whitespace-nowrap font-syne text-[35px] font-bold leading-none tracking-[1px] text-colorLightLime">
                            Let's create new experiences
                        </div>
                        <!-- Text Slider Item Text -->
                        <!-- Text Slider Separator Icon -->
                        <div class="h-10 min-w-[42px]">
                            <img src="/static/img/elemnts/shape-light-lime-5-arms-star.svg" alt="shape-light-lime-5-arms-star" width="74" height="70" class="h-10 w-auto" />
                        </div>
                        <!-- Text Slider Separator Icon -->
                        <!-- Text Slider Item Text-->
                        <div class="whitespace-nowrap font-syne text-[35px] font-bold leading-none tracking-[1px] text-colorLightLime">
                            Let's create new experiences
                        </div>
                        <!-- Text Slider Item Text -->
                        <!-- Text Slider Separator Icon -->
                        <div class="h-10 min-w-[42px]">
                            <img src="/static/img/elemnts/shape-light-lime-5-arms-star.svg" alt="shape-light-lime-5-arms-star" width="74" height="70" class="h-10 w-auto" />
                        </div>
                        <!-- Text Slider Separator Icon -->
                    </div>
                </div>
            </div>
            <!-- ...::: Text Slider Section End :::... -->

            <!-- ...::: Team Section Start :::... -->
            <section class="section">
                <!-- Section Space -->
                <div class="section-space-bottom">
                  
                </div>
                <!-- Section Space -->
            </section>
            <!-- ...::: Team Section End :::... -->

        </main>
        <!--  Main Wrapper End -->
          
{% endblock content %}