{% extends '../partials/layout1.html' %}


{% block content %}

<!-- ...::: FAQ Section Start :::... -->
<section class="section-faq">
    <!-- Section Space -->
    <div class="section-space">
        <!-- Section Container -->
        <div class="container">
            <!-- Section Block -->
            <div class="section-block mx-auto mb-10 max-w-[650px] text-center md:mb-[60px] xl:mb-20 xl:max-w-[856px]">
                <h2 class="jos">
                    These FAQs help
                    <span>
                        <img src="/static/img/elemnts/shape-light-lime-5-arms-star.svg" alt="shape-light-lime-5-arms-star" width="74" height="70" class="relative inline-block h-auto w-8 after:bg-black md:w-10 lg:w-[57px]" />
                    </span>
                    clients learn about us
                </h2>
            </div>
            <!-- Section Block -->

            <!-- Accordion List -->
            <ul class="jos flex flex-col gap-y-6">
                <!-- Accordion Item -->
                <li class="accordion-item-style-1 accordion-item active">
                    <!-- Accordion Header -->
                    <div class="accordion-header text-ColorBlack flex items-center justify-between gap-6 text-xl font-semibold">
                        <button class="flex-1 text-left font-syne text-2xl font-bold leading-[1.4] md:text-3xl">
                            What services do you offer?
                        </button>
                        <div class="accordion-icon">
                            <img src="/static/img/icons/icon-black-arrow-less-down.svg" alt="icon-black-arrow-less-down" />
                        </div>
                    </div>
                    <!-- Accordion Header -->
                    <!-- Accordion Body -->
                    <div class="accordion-body max-w-[1162px] opacity-80">
                        <p class="pt-5">
                            We offer custom website development, e-commerce solutions, web applications, responsive design, API integration, social media ads, email marketing, and ongoing website maintenance and support.
                        </p>
                    </div>
                    <!-- Accordion Body -->
                </li>
                <!-- Accordion Item -->
                <!-- Accordion Item -->
                <li class="accordion-item-style-1 accordion-item">
                    <!-- Accordion Header -->
                    <div class="accordion-header text-ColorBlack flex items-center justify-between gap-6 text-xl font-semibold">
                        <button class="flex-1 text-left font-syne text-2xl font-bold leading-[1.4] md:text-3xl">
                            How long does a project take?
                        </button>
                        <div class="accordion-icon">
                            <img src="/static/img/icons/icon-black-arrow-less-down.svg" alt="icon-black-arrow-less-down" />
                        </div>
                    </div>
                    <!-- Accordion Header -->
                    <!-- Accordion Body -->
                    <div class="accordion-body max-w-[1162px] opacity-80">
                        <p class="pt-5">
                            Timelines depend on the complexity of the project. Most websites are completed in 2-4 weeks, while web applications and e-commerce solutions may take longer. Contact us for an estimate.
                        </p>
                    </div>
                    <!-- Accordion Body -->
                </li>
                <!-- Accordion Item -->
                <!-- Accordion Item -->
                <li class="accordion-item-style-1 accordion-item">
                    <!-- Accordion Header -->
                    <div class="accordion-header text-ColorBlack flex items-center justify-between gap-6 text-xl font-semibold">
                        <button class="flex-1 text-left font-syne text-2xl font-bold leading-[1.4] md:text-3xl">
                            How much will it cost?
                        </button>
                        <div class="accordion-icon">
                            <img src="/static/img/icons/icon-black-arrow-less-down.svg" alt="icon-black-arrow-less-down" />
                        </div>
                    </div>
                    <!-- Accordion Header -->
                    <!-- Accordion Body -->
                    <div class="accordion-body max-w-[1162px] opacity-80">
                        <p class="pt-5">
                            Costs vary depending on the scope and complexity of your project. We recommend contacting us for a customized quote tailored to your specific requirements.
                        </p>
                    </div>
                    <!-- Accordion Body -->
                </li>
                <!-- Accordion Item -->
                <!-- Accordion Item -->
                <li class="accordion-item-style-1 accordion-item">
                    <!-- Accordion Header -->
                    <div class="accordion-header text-ColorBlack flex items-center justify-between gap-6 text-xl font-semibold">
                        <button class="flex-1 text-left font-syne text-2xl font-bold leading-[1.4] md:text-3xl">
                            What do I need to provide for my project?
                        </button>
                        <div class="accordion-icon">
                            <img src="/static/img/icons/icon-black-arrow-less-down.svg" alt="icon-black-arrow-less-down" />
                        </div>
                    </div>
                    <!-- Accordion Header -->
                    <!-- Accordion Body -->
                    <div class="accordion-body max-w-[1162px] opacity-80">
                        <p class="pt-5">
                            You’ll need to provide your business’s branding materials (logo, colors, etc.), content (text, images, videos), and any specific functionality or design ideas you’d like included. Don’t worry—we’ll guide you through the process!
                        </p>
                    </div>
                    <!-- Accordion Body -->
                </li>
                <!-- Accordion Item -->
                <!-- Accordion Item -->
                <!-- <li class="accordion-item-style-1 accordion-item"> -->
                    <!-- Accordion Header -->
                    <!-- <div class="accordion-header text-ColorBlack flex items-center justify-between gap-6 text-xl font-semibold">
                        <button class="flex-1 text-left font-syne text-2xl font-bold leading-[1.4] md:text-3xl">
                            Do you offer social media and email marketing services?
                        </button>
                        <div class="accordion-icon">
                            <img src="/static/img/icons/icon-black-arrow-less-down.svg" alt="icon-black-arrow-less-down" />
                        </div>
                    </div> -->
                    <!-- Accordion Header -->
                    <!-- Accordion Body -->
                    <!-- <div class="accordion-body max-w-[1162px] opacity-80">
                        <p class="pt-5">
                            Yes! We provide targeted social media ad campaigns, email marketing strategies, and social media account integration to help drive traffic to your website and grow your audience. These services can be added to your project as needed.
                        </p>
                    </div> -->
                    <!-- Accordion Body -->
                <!-- </li> -->
                <!-- Accordion Item -->
                <!-- Accordion Item -->
                <li class="accordion-item-style-1 accordion-item">
                    <!-- Accordion Header -->
                    <div class="accordion-header text-ColorBlack flex items-center justify-between gap-6 text-xl font-semibold">
                        <button class="flex-1 text-left font-syne text-2xl font-bold leading-[1.4] md:text-3xl">
                            Can we see samples of your work?
                        </button>
                        <div class="accordion-icon">
                            <img src="/static/img/icons/icon-black-arrow-less-down.svg" alt="icon-black-arrow-less-down" />
                        </div>
                    </div>
                    <!-- Accordion Header -->
                    <!-- Accordion Body -->
                    <div class="accordion-body max-w-[1162px] opacity-80">
                        <p class="pt-5">
                            Yes, we're proud to showcase a portfolio of our previous
                                    projects. You can find examples of our work on our
                                    website or view our portfolio.
                        </p>
                    </div>
                    <!-- Accordion Body -->
                </li>
                <!-- Accordion Item -->
            </ul>
            <!-- Accordion List -->

            <div class="mt-10 flex justify-center md:mt-[60px] lg:mt-20">
                <a href="{% url 'contact' %}" class="btn-primary relative justify-start bg-black pr-20 text-white">
                    Still, have any questions? Contact us
                    <span class="absolute right-[5px] inline-flex h-[50px] w-[50px] items-center justify-center rounded-[50%] bg-colorLightLime"><img src="/static/img/icons/icon-black-arrow-right.svg" alt="icon-black-arrow-right" width="34" height="28" /></span></a>
            </div>
        </div>
        <!-- Section Container -->
    </div>
    <!-- Section Space -->
</section>
<!-- ...::: FAQ Section End :::... -->
</main>
<!--  Main Wrapper End -->
  
{% endblock content %}