{% extends '../partials/layout1.html' %}


{% block content %}

<!--...::: Pricing Section Start :::... -->
<section class="section-pricing">
    <!-- Section Space -->
    <div class="section-space">
        <!-- Section Container -->
        <div class="container">
            <!-- Section Block -->
            <div class="section-block mx-auto mb-10 max-w-[650px] text-center md:mb-[60px] xl:mb-20 xl:max-w-[856px]">
                <h2 class="jos">
                    Affordable Plans Tailored for Your Business
                        <span>
                            Success
                        <img src="/static/img/elemnts/shape-light-lime-5-arms-star.svg" alt="shape-light-lime-5-arms-star" width="74" height="70" class="relative inline-block h-auto w-8 after:bg-black md:w-10 lg:w-[57px]" />
                    </span>
                </h2>
            </div>
            <!-- Section Block -->

            <!-- Pricing Area -->
            <div>
                <!-- Pricing Button Block -->
                 <div class="my-[50px] flex flex-row items-center justify-center gap-6"> 
                    <!-- <span class="font-bold">Billed Monthly</span>  -->

                    <!-- Toggle Button -->
                    <!-- <label for="toggle" class="flex cursor-pointer items-center"> -->
                        <!-- toggle -->
                        <!-- <span class="relative inline-block h-[35px] w-[70px] rounded-[35px] border border-black"> -->
                            <!-- hidden input -->
                            <!-- <input id="toggle" type="checkbox" class="peer hidden" onclick="toggleSwitch()" /> -->
                            <!-- dot -->
                            <!-- <span class="toggle_dot absolute left-[5px] top-1/2 h-[25px] w-[25px] -translate-y-1/2 rounded-full bg-black transition-all duration-300 peer-checked:translate-x-[33px]"></span> -->
                        <!-- </span>
                    </label> -->
                    <!-- Toggle Button -->
                    <!-- <span class="font-bold">Billed Yearly</span> -->
                </div>
                <!-- Pricing Button Block -->
                <!-- Pricing List -->
                <ul class="grid grid-cols-1 gap-x-6 gap-y-10 md:grid-cols-2 xl:grid-cols-3">
                    <!-- Pricing Item -->
                    <li class="jos flex flex-col rounded-[20px] border-2 border-black p-[30px]" data-jos_animation="flip-left">
                        <!-- Price Top Block -->
                        <div class="flex flex-col gap-y-6">
                            <h5>Starter Package</h5>
                            <div>
                                <span class="month display-heading display-heading-2">$299–$599</span>
                                <span class="annual display-heading display-heading-2 hidden">$2000 - $3200-</span>
                            </div>
                                <p>Perfect for small businesses or startups looking for an online presence.</p>
                        </div>
                        <!-- Price Top Block -->
                        <div class="horizontal-line my-6 bg-[#E6E6E6]"></div>
                        <!-- Price Info -->
                        <ul class="mb-[30px] flex flex-col gap-y-4 text-lg font-semibold leading-[1.42] lg:text-[21px]">
                            <li class="relative pl-11 before:absolute before:left-0 before:top-0 before:h-[30px] before:w-[30px] before:bg-[url(../img/icons/icon-lime-lemon-round-check.svg)]">
                                Fully Functional Website (Up to 4 Static Pages)
                            </li>
                            <li class="relative pl-11 before:absolute before:left-0 before:top-0 before:h-[30px] before:w-[30px] before:bg-[url(../img/icons/icon-lime-lemon-round-check.svg)]">
                                Content Upload
                            </li>
                            <li class="relative pl-11 before:absolute before:left-0 before:top-0 before:h-[30px] before:w-[30px] before:bg-[url(../img/icons/icon-lime-lemon-round-check.svg)]">
                                Hosting Setup
                            </li>
                            <li class="relative pl-11 before:absolute before:left-0 before:top-0 before:h-[30px] before:w-[30px] before:bg-[url(../img/icons/icon-lime-lemon-round-check.svg)]">
                                Cross-Platform With Fully Responsive Design
                            </li>
                            <li class="relative pl-11 before:absolute before:left-0 before:top-0 before:h-[30px] before:w-[30px] before:bg-[url(../img/icons/icon-lime-lemon-round-check.svg)]">
                                Basic SEO Setup
                            </li>
                            <!-- <li class="relative pl-11 before:absolute before:left-0 before:top-0 before:h-[30px] before:w-[30px] before:bg-[url(../img/icons/icon-lime-lemon-round-check.svg)]">
                                
                            </li> -->
                        </ul>
                        <!-- Price Info -->
                        <!-- <a href="#" class="btn-outline-black mt-auto block text-center">Select the package</a> -->
                    </li>
                    <!-- Pricing Item -->
                    <!-- Pricing Item -->
                    <li class="jos flex flex-col rounded-[20px] border-2 border-black p-[30px]" data-jos_animation="flip-left">
                        <!-- Price Top Block -->
                        <div class="flex flex-col gap-y-6">
                            <h5>Growth Package</h5>
                            <div>
                                <span class="month display-heading display-heading-2">$600–$1499</span>
                                <span class="annual display-heading display-heading-2 hidden">$3500- $5000</span>
                            </div>
                            <p>Designed for growing businesses that need a stronger digital presence.</p>
                        </div>
                        <!-- Price Top Block -->
                        <div class="horizontal-line my-6 bg-[#E6E6E6]"></div>
                        <!-- Price Info -->
                        <ul class="mb-[30px] flex flex-col gap-y-4 text-lg font-semibold leading-[1.42] lg:text-[21px]">
                            <li class="relative pl-11 before:absolute before:left-0 before:top-0 before:h-[30px] before:w-[30px] before:bg-[url(../img/icons/icon-lime-lemon-round-check.svg)]">
                                Everything From The Starter Package
                            </li>
                            <li class="relative pl-11 before:absolute before:left-0 before:top-0 before:h-[30px] before:w-[30px] before:bg-[url(../img/icons/icon-lime-lemon-round-check.svg)]">
                                Up to 7 Web Pages
                            </li>
                            <li class="relative pl-11 before:absolute before:left-0 before:top-0 before:h-[30px] before:w-[30px] before:bg-[url(../img/icons/icon-lime-lemon-round-check.svg)]">
                                API & Integration Services (e.g., Payment Processing, Booking Tools)
                            </li>
                            <li class="relative pl-11 before:absolute before:left-0 before:top-0 before:h-[30px] before:w-[30px] before:bg-[url(../img/icons/icon-lime-lemon-round-check.svg)]">
                                Google Analytics Setup (Basic)
                            </li>
                            <li class="relative pl-11 before:absolute before:left-0 before:top-0 before:h-[30px] before:w-[30px] before:bg-[url(../img/icons/icon-lime-lemon-round-check.svg)]">
                                Custom Event Tracking (Up to 3 Events e.g., button clicks, form submissions)
                            </li>
                            <li class="relative pl-11 before:absolute before:left-0 before:top-0 before:h-[30px] before:w-[30px] before:bg-[url(../img/icons/icon-lime-lemon-round-check.svg)]">
                                SEO Optimization
                            </li>
                        </ul>
                        <!-- Price Info -->
                        <!-- <a href="#" class="btn-outline-black mt-auto block text-center">Select the package</a> -->
                    </li>
                    <!-- Pricing Item -->
                    <!-- Pricing Item -->
                    <li class="jos flex flex-col rounded-[20px] border-2 border-black p-[30px]" data-jos_animation="flip-left">
                        <!-- Price Top Block -->
                        <div class="flex flex-col gap-y-6">
                            <h5>Premium Package</h5>
                            <div>
                                <span class="month display-heading display-heading-2">$1,500+</span>
                                <span class="annual display-heading display-heading-2 hidden">$5000+</span>
                            </div>
                            <p>The ultimate package for established businesses ready to scale.</p>
                        </div>
                        <!-- Price Top Block -->
                        <div class="horizontal-line my-6 bg-[#E6E6E6]"></div>
                        <!-- Price Info -->
                        <ul class="mb-[30px] flex flex-col gap-y-4 text-lg font-semibold leading-[1.42] lg:text-[21px]">
                            <li class="relative pl-11 before:absolute before:left-0 before:top-0 before:h-[30px] before:w-[30px] before:bg-[url(../img/icons/icon-lime-lemon-round-check.svg)]">
                                Everything in the Growth Package
                            </li>
                            <li class="relative pl-11 before:absolute before:left-0 before:top-0 before:h-[30px] before:w-[30px] before:bg-[url(../img/icons/icon-lime-lemon-round-check.svg)]">
                                Up To 10 Pages
                            </li>
                            <li class="relative pl-11 before:absolute before:left-0 before:top-0 before:h-[30px] before:w-[30px] before:bg-[url(../img/icons/icon-lime-lemon-round-check.svg)]">
                                Advanced E-Commerce Features (Dashboard, Chat)
                            </li>
                            <li class="relative pl-11 before:absolute before:left-0 before:top-0 before:h-[30px] before:w-[30px] before:bg-[url(../img/icons/icon-lime-lemon-round-check.svg)]">
                                Advanced Google Analytics (E-Commerce Event Tracking)
                            </li>
                            <li class="relative pl-11 before:absolute before:left-0 before:top-0 before:h-[30px] before:w-[30px] before:bg-[url(../img/icons/icon-lime-lemon-round-check.svg)]">
                                Ongoing Maintenance & Support
                            </li>
                            <li class="relative pl-11 before:absolute before:left-0 before:top-0 before:h-[30px] before:w-[30px] before:bg-[url(../img/icons/icon-lime-lemon-round-check.svg)]">
                                Advanced SEO Optimization
                            </li>
                        </ul>
                        <!-- Price Info -->
                        <!-- <a href="#" class="btn-outline-black mt-auto block text-center">Select the package</a> -->
                    </li>
                    <!-- Pricing Item -->
                      <!-- Pricing Item -->
                    <li class="jos flex flex-col rounded-[20px] border-2 border-black p-[30px]" data-jos_animation="flip-left">
                        <!-- Price Top Block -->
                        <div class="flex flex-col gap-y-6">
                            <h5>Digital Marketing Package</h5>
                            <div>
                                <span class="month display-heading display-heading-2">From $199</span>
                                <!-- <span class="annual display-heading display-heading-2 hidden">$5000+</span> -->
                            </div>
                            <p>Amplify your reach with tailored marketing solutions designed to drive results.</p>
                        </div>
                        <!-- Price Top Block -->
                        <div class="horizontal-line my-6 bg-[#E6E6E6]"></div>
                        <!-- Price Info -->
                        <ul class="mb-[30px] flex flex-col gap-y-4 text-lg font-semibold leading-[1.42] lg:text-[21px]">
                            <li class="relative pl-11 before:absolute before:left-0 before:top-0 before:h-[30px] before:w-[30px] before:bg-[url(../img/icons/icon-lime-lemon-round-check.svg)]">
                                Social Media Ads (Facebook, Instagram, TikTok, LinkedIn, YouTube)
                            </li>
                            <li class="relative pl-11 before:absolute before:left-0 before:top-0 before:h-[30px] before:w-[30px] before:bg-[url(../img/icons/icon-lime-lemon-round-check.svg)]">
                                Email Marketing Campaigns
                            </li>
                            <li class="relative pl-11 before:absolute before:left-0 before:top-0 before:h-[30px] before:w-[30px] before:bg-[url(../img/icons/icon-lime-lemon-round-check.svg)]">
                                Web Analytics & Reporting (Google Analytics (GA4), Meta Ads Manager)
                            </li>
                        </ul>
                        <!-- Price Info -->
                        <!-- <a href="#" class="btn-outline-black mt-auto block text-center">Select the package</a> -->
                    </li>
                    <!-- Pricing Item -->
                </ul>
                <!-- Pricing List -->
            </div>
            <!-- Pricing Area -->
        </div>
        <!-- Section Container -->
    </div>
    <!-- Section Space -->
</section>
<!--...::: Pricing Section End :::... -->

<!-- ...::: Text Slider Section Start :::... -->
<div class="section-text-slider">
    <div class="bg-black py-5">
        <div class="horizontal-slide-from-right-to-left flex items-center gap-x-6">
            <!-- Text Slider Item Text-->
            <div class="whitespace-nowrap font-syne text-[35px] font-bold leading-none tracking-[1px] text-colorLightLime">
                Let's create new experiences
            </div>
            <!-- Text Slider Item Text -->
            <!-- Text Slider Separator Icon -->
            <div class="h-10 min-w-[42px]">
                <img src="/static/img/elemnts/shape-light-lime-5-arms-star.svg" alt="shape-light-lime-5-arms-star" width="74" height="70" class="h-10 w-auto" />
            </div>
            <!-- Text Slider Separator Icon -->
            <!-- Text Slider Item Text-->
            <div class="whitespace-nowrap font-syne text-[35px] font-bold leading-none tracking-[1px] text-colorLightLime">
                Let's create new experiences
            </div>
            <!-- Text Slider Item Text -->
            <!-- Text Slider Separator Icon -->
            <div class="h-10 min-w-[42px]">
                <img src="/static/img/elemnts/shape-light-lime-5-arms-star.svg" alt="shape-light-lime-5-arms-star" width="74" height="70" class="h-10 w-auto" />
            </div>
            <!-- Text Slider Separator Icon -->
            <!-- Text Slider Item Text-->
            <div class="whitespace-nowrap font-syne text-[35px] font-bold leading-none tracking-[1px] text-colorLightLime">
                Let's create new experiences
            </div>
            <!-- Text Slider Item Text -->
            <!-- Text Slider Separator Icon -->
            <div class="h-10 min-w-[42px]">
                <img src="/static/img/elemnts/shape-light-lime-5-arms-star.svg" alt="shape-light-lime-5-arms-star" width="74" height="70" class="h-10 w-auto" />
            </div>
            <!-- Text Slider Separator Icon -->
            <!-- Text Slider Item Text-->
            <div class="whitespace-nowrap font-syne text-[35px] font-bold leading-none tracking-[1px] text-colorLightLime">
                Let's create new experiences
            </div>
            <!-- Text Slider Item Text -->
            <!-- Text Slider Separator Icon -->
            <div class="h-10 min-w-[42px]">
                <img src="/static/img/elemnts/shape-light-lime-5-arms-star.svg" alt="shape-light-lime-5-arms-star" width="74" height="70" class="h-10 w-auto" />
            </div>
            <!-- Text Slider Separator Icon -->
            <!-- Text Slider Item Text-->
            <div class="whitespace-nowrap font-syne text-[35px] font-bold leading-none tracking-[1px] text-colorLightLime">
                Let's create new experiences
            </div>
            <!-- Text Slider Item Text -->
            <!-- Text Slider Separator Icon -->
            <div class="h-10 min-w-[42px]">
                <img src="/static/img/elemnts/shape-light-lime-5-arms-star.svg" alt="shape-light-lime-5-arms-star" width="74" height="70" class="h-10 w-auto" />
            </div>
            <!-- Text Slider Separator Icon -->
            <!-- Text Slider Item Text-->
            <div class="whitespace-nowrap font-syne text-[35px] font-bold leading-none tracking-[1px] text-colorLightLime">
                Let's create new experiences
            </div>
            <!-- Text Slider Item Text -->
            <!-- Text Slider Separator Icon -->
            <div class="h-10 min-w-[42px]">
                <img src="/static/img/elemnts/shape-light-lime-5-arms-star.svg" alt="shape-light-lime-5-arms-star" width="74" height="70" class="h-10 w-auto" />
            </div>
            <!-- Text Slider Separator Icon -->
        </div>
    </div>
</div>
<!-- ...::: Text Slider Section End :::... -->

<!-- Horizontal Line -->
<div class="horizontal-line bg-[#e6e6e6]"></div>
<!-- Horizontal Line -->

<!-- ...::: Testimonial Section Start :::... -->
<section class="section-testimonial">
    <!-- Section Space -->
    <div class="section-space">
        <!-- Section Container -->
        <div class="container">
            <!-- Section Block -->
            <div class="section-block mx-auto mb-10 max-w-[650px] text-center md:mb-[60px] xl:mb-20 xl:max-w-[856px]">
                <h2 class="jos">
                    Clients are always satisfied with
                    <span>
                        us
                        <img src="/static/img/elemnts/shape-light-lime-5-arms-star.svg" alt="shape-light-lime-5-arms-star" width="74" height="70" class="relative inline-block h-auto w-8 after:bg-black md:w-10 lg:w-[57px]" />
                    </span>
                </h2>
            </div>
            <!-- Section Block -->

            <!-- Testimonial List -->
            <ul class="grid grid-cols-1 gap-x-6 gap-y-[30px] md:grid-cols-2">
                <!-- Testimonial Item -->
                <li class="jos" data-jos_delay="0">
                    <div class="flex h-full flex-col rounded-[20px] border-2 border-black px-[30px] py-6 transition-all duration-300 hover:shadow-[5px_5px_0_0] hover:shadow-black">
                        <div class="mb-8 flex gap-x-2">
                            <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                            <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                            <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                            <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                            <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                        </div>
                        <h4 class="mb-5">Super customer service!</h4>
                        <p class="mb-[30px]">
                            Excellent customer service and I was really impressed and
                            happy with my purchase especially as it was a last minute
                            order which got to me in time, and when it arrived I was
                            very happy with the design and size and so was the
                            recipient.
                        </p>
                        <div class="mt-auto flex items-center gap-3">
                            <div class="h-[70px] w-[70px] overflow-hidden rounded-[50%] border-2 border-black">
                                <img src="/static/img/images/th-1/testimonial-user-img-1.png" alt="testimonial-user-img-1" width="64" height="64" class="h-full w-full object-cover" />
                            </div>

                            <div class="flex-1 font-syne text-lg font-bold leading-none -tracking-[0.5px] lg:text-[21px]">
                                William Jack
                                <span class="font-normal">Founder@XYZ</span>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- Testimonial Item -->
                <!-- Testimonial Item -->
                <li class="jos" data-jos_delay="0.3">
                    <div class="flex h-full flex-col rounded-[20px] border-2 border-black px-[30px] py-6 transition-all duration-300 hover:shadow-[5px_5px_0_0] hover:shadow-black">
                        <div class="mb-8 flex gap-x-2">
                            <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                            <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                            <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                            <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                            <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                        </div>
                        <h4 class="mb-5">Exceptional creativity and vision</h4>
                        <p class="mb-[30px]">
                            Working with Mthemeus was a game-changer for our brand.
                            Their exceptional creativity & vision breathed new life
                            into our visual. The logo they designed perfectly captures
                            our essence & has become instantly recognizable. We
                            couldn't be happier with the results!
                        </p>
                        <div class="mt-auto flex items-center gap-3">
                            <div class="h-[70px] w-[70px] overflow-hidden rounded-[50%] border-2 border-black">
                                <img src="/static/img/images/th-1/testimonial-user-img-2.png" alt="testimonial-user-img-2" width="64" height="64" class="h-full w-full object-cover" />
                            </div>

                            <div class="flex-1 font-syne text-lg font-bold leading-none -tracking-[0.5px] lg:text-[21px]">
                                Smith Align
                                <span class="font-normal">Businessman</span>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- Testimonial Item -->
                <!-- Testimonial Item -->
                <li class="jos" data-jos_delay="0.6">
                    <div class="flex h-full flex-col rounded-[20px] border-2 border-black px-[30px] py-6 transition-all duration-300 hover:shadow-[5px_5px_0_0] hover:shadow-black">
                        <div class="mb-8 flex gap-x-2">
                            <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                            <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                            <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                            <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                            <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                        </div>
                        <h4 class="mb-5">Innovative and professional</h4>
                        <p class="mb-[30px]">
                            I can't say enough good things about them. Their team is
                            not only incredibly talented but also highly professional.
                            They listened to our ideas and brought them to life in
                            ways we couldn't have imagined. Their innovative approach
                            and dedication to our project.
                        </p>
                        <div class="mt-auto flex items-center gap-3">
                            <div class="h-[70px] w-[70px] overflow-hidden rounded-[50%] border-2 border-black">
                                <img src="/static/img/images/th-1/testimonial-user-img-3.png" alt="testimonial-user-img-3" width="64" height="64" class="h-full w-full object-cover" />
                            </div>

                            <div class="text- leading-nonelg flex-1 font-syne font-bold -tracking-[0.5px] lg:text-[21px]">
                                Milano Joe
                                <span class="font-normal">Creative Director</span>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- Testimonial Item -->
                <!-- Testimonial Item -->
                <li class="jos" data-jos_delay="0.9">
                    <div class="flex h-full flex-col rounded-[20px] border-2 border-black px-[30px] py-6 transition-all duration-300 hover:shadow-[5px_5px_0_0] hover:shadow-black">
                        <div class="mb-8 flex gap-x-2">
                            <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                            <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                            <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                            <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                            <img src="/static/img/icons/icon-black-star.svg" alt="icon-black-star" width="37" height="35" />
                        </div>
                        <h4 class="mb-5">Transformed our brand</h4>
                        <p class="mb-[30px]">
                            Our partnership with Mthemeus transformed our brand from
                            ordinary to extraordinary. Their branding expertise and
                            meticulous design work elevated our marketing materials to
                            a whole new level. Our customers have taken notice, and
                            boost in brand recognition.
                        </p>
                        <div class="mt-auto flex items-center gap-3">
                            <div class="h-[70px] w-[70px] overflow-hidden rounded-[50%] border-2 border-black">
                                <img src="/static/img/images/th-1/testimonial-user-img-4.png" alt="testimonial-user-img-4" width="64" height="64" class="h-full w-full object-cover" />
                            </div>

                            <div class="flex-1 font-syne text-lg font-bold leading-none -tracking-[0.5px] lg:text-[21px]">
                                Danial Mark
                                <span class="font-normal">Marketing Director</span>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- Testimonial Item -->
            </ul>
            <!-- Testimonial List -->
        </div>
        <!-- Section Container -->
    </div>
    <!-- Section Space -->
</section>
<!-- ...::: Testimonial Section End :::... -->
</main>
<!--  Main Wrapper End -->

{% endblock content %}