        <!-- ...::: Header Section Start :::... -->
        <header class="section-header site-header is-black fixed top-0 z-30 w-full py-2">
            <!-- Section Container -->
            <div class="container">
                <!-- Header Area -->
                <div class="flex items-center justify-between">
                    <!-- Header Left Block -->
                    <div class="flex items-center gap-x-10">
                        <!-- Header Logo -->
                        <a href="{% url 'index7' %}" class="h-auto w-auto">
                            <img src="/static/img/logo-buttery-white.svg" alt="logo-buttery-white" width="121" height="24" />
                        </a>
                        <!-- Header Logo -->

                        <!-- Header Navigation -->
                        <div class="menu-block-wrapper">
                            <div class="menu-overlay"></div>
                            <nav class="menu-block" id="append-menu-header">
                                <div class="mobile-menu-head">
                                    <div class="go-back">
                                        <img src="/static/img/icons/icon-caret-down.svg" alt="icon-caret-down" width="7" height="4" />
                                    </div>
                                    <div class="current-menu-title"></div>
                                    <div class="mobile-menu-close">&times;</div>
                                </div>
                                <ul class="site-menu-main">
                                    <li class="nav-link-item drop-trigger text-colorDark rounded-none border border-transparent lg:text-white">
                                        <a href="{% url 'pricing' %}" class="nav-link-item">Pricing</a>
                                    </li>
                                    <li class="nav-link-item drop-trigger text-colorDark rounded-none border border-transparent lg:text-white">
                                        <a href="{% url 'portfolio1' %}" class="nav-link-item">Portfolio</a>
                                    </li>
                                    <li class="nav-link-item drop-trigger text-colorDark rounded-none border border-transparent lg:text-white">
                                        <a href="{% url 'service' %}" class="nav-link-item">Services</a>
                                    </li>
                                    <li class="nav-link-item drop-trigger text-colorDark rounded-none border border-transparent lg:text-white">
                                        <a href="{% url 'about' %}" class="nav-link-item">About Us</a>
                                    </li>
                                    <li class="nav-link-item drop-trigger text-colorDark rounded-none border border-transparent lg:text-white">
                                        <a href="{% url 'faq' %}" class="nav-link-item">FAQs</a>
                                    </li>
                                    <li class="nav-link-item drop-trigger text-colorDark rounded-none border border-transparent lg:text-white">
                                        <a href="{% url 'contact' %}" class="nav-link-item">Contact Us</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header Navigation -->
                    </div>
                    <!-- Header Left Block -->

                    <!-- Header Right Block -->
                    <div class="flex items-center gap-x-6">
                        <a href="{% url 'contact' %}" class="btn-primary relative hidden px-[30px] py-[10px] sm:inline-flex">Contact Us</a>

                        <!-- Responsive Offcanvas Menu Button -->
                        <div class="block lg:hidden">
                            <button id="openBtn" class="hamburger-menu mobile-menu-trigger">
                                <span class="bg-white before:bg-white after:bg-white"></span>
                            </button>
                        </div>
                    </div>
                    <!-- Header Right Block -->
                </div>
                <!-- Header Area -->
            </div>
            <!-- Section Container -->
        </header>
        <!-- ...::: Header Section End :::... -->